body{ text-align: center;}
h2{ color: blue;}
h3{ color: rgb(51, 51, 151);}
.classe1{ font-family: Georgia, 'Times New Roman', Times, serif;
color: black;}
footer{ color: blue;
font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}